requests~=2.27.1
numpy~=1.22.3
tqdm~=4.64.0
torch>=1.8
transformers>=4.6
lxml>=4.6.5
bioc~=2.0.post4
segtok~=1.5.10
diskcache~=5.4.0
dataclasses~=0.8
omegaconf~=2.2.2
elasticsearch~=8.2.3
pip~=21.2.2
configparser~=5.0.2
zlib~=1.2.11
wheel~=0.37.1
openssl~=1.1.1o
cryptography~=37.0.2
setuptools~=61.2.0
future~=0.18.2
docutils~=0.17.1
hydra~=2.5
typing_extensions~=4.2.0